<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.me.healthandfitnesstips">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".exercise_in_english" />
        <activity android:name=".abs" />
        <activity android:name=".back" />
        <activity android:name=".biceps" />
        <activity android:name=".calf" />
        <activity android:name=".chest" />
        <activity android:name=".forearm" />
        <activity android:name=".leg" />
        <activity android:name=".shoulder" />
        <activity android:name=".triceps" />
        <activity android:name=".Incline" />
        <activity android:name=".hanging" />
        <activity android:name=".dumbellsidebend" />
        <activity android:name=".crunches" />
        <activity android:name=".situps" />
        <activity android:name=".legraises" />
        <activity android:name=".flatbenchlyinglegraise" />
        <activity android:name=".seatedjackknife" />
        <activity android:name=".twistedhipraise" />
        <activity android:name=".chinups" />
        <activity android:name=".deadlift" />
        <activity android:name=".seatedrow" />
        <activity android:name=".onearmdumbbellrow" />
        <activity android:name=".barbellshrug" />
        <activity android:name=".dumbbellshrug" />
        <activity android:name=".backextension" />
        <activity android:name=".reversechinups" />
        <activity android:name=".bodyweightsuperman" />
        <activity android:name=".dumbbellbentoverrow" />
        <activity android:name=".curls" />
        <activity android:name=".barbellcurls" />
        <activity android:name=".preachercurls" />
        <activity android:name=".hammercurls" />
        <activity android:name=".concentrationcurls" />
        <activity android:name=".reversecurls" />
        <activity android:name=".cablebicepscurl" />
        <activity android:name=".lowpulleycurl" />
        <activity android:name=".lowpulleycablecrossover" />
        <activity android:name=".dumbbellbicepscurlhammer_bench" />
        <activity android:name=".dumbbellbicepscurlhammer_standing" />
        <activity android:name=".latpulldown" />
        <activity android:name=".sidebridge" />
        <activity android:name=".bodyweight" />
        <activity android:name=".superman" />
        <activity android:name=".toeraise" />
        <activity android:name=".onelegraise" />
        <activity android:name=".seatedcalfraise" />
        <activity android:name=".barbellcalfraiseseated" />
        <activity android:name=".barbellcalfraisewithsingleleg_seated" />
        <activity android:name=".dumbbellcalfjump" />
        <activity android:name=".dumbbellcalfraise_seated" />
        <activity android:name=".standingbarbellcalfraise" />
        <activity android:name=".standingdumbbellcalfraise" />
        <activity android:name=".benchpresses" />
        <activity android:name=".inclinepresses" />
        <activity android:name=".dumbbellpresses" />
        <activity android:name=".parallelbardips" />
        <activity android:name=".cablecrossoverflies" />
        <activity android:name=".dumbellflies" />
        <activity android:name=".dumbbellpullovers" />
        <activity android:name=".pushups" />
        <activity android:name=".barbellbenchpresses" />
        <activity android:name=".pecdeckflies" />
        <activity android:name=".Decline_pushup" />
        <activity android:name=".wrist_curls" />
        <activity android:name=".wrist_curls2" />
        <activity android:name=".Dumbbell_wrist_twist" />
        <activity android:name=".Standing_wrist_curls" />
        <activity android:name=".Close_grip_Bench_presses" />
        <activity android:name=".push_Downs" />
        <activity android:name=".Triceps_Extension" />
        <activity android:name=".Triceps_Kick_Bricks" />
        <activity android:name=".One_arm_Dumbbell_Triceps_Extension" />
        <activity android:name=".Bar_triceps_extension" />
        <activity android:name=".Dumbbell_triceps_extensions" />
        <activity android:name=".One_arm_reverse_push_down" />
        <activity android:name=".Diamond_pushup_on_bench" />
        <activity android:name=".Dumbbell_row_kick_back" />
        <activity android:name=".Triceps_dips" />
        <activity android:name=".Triceps_push_down" />
        <activity android:name=".Back_presses" />
        <activity android:name=".Seated_front_presses" />
        <activity android:name=".Seated_dumbbell_presses" />
        <activity android:name=".Low_pulley_lateral_raises" />
        <activity android:name=".Upright_rows" />
        <activity android:name=".Dumbbell_rear_Deltoid_raises" />
        <activity android:name=".Lateral_raises" />
        <activity android:name=".Front_raises" />
        <activity android:name=".Barbell_front_raises" />
        <activity android:name=".Upright_row" />
        <activity android:name=".Low_pulley_bent_over_lateral_raises" />
        <activity android:name=".Low_pulley_front_raises" />
        <activity android:name=".Squats" />
        <activity android:name=".Angled_leg_presses" />
        <activity android:name=".Dumbbell_lunges" />
        <activity android:name=".Cable_back_kicks" />
        <activity android:name=".Dumbbell_squats" />
        <activity android:name=".Front_squats" />
        <activity android:name=".Power_squats" />
        <activity android:name=".Hack_squats" />
        <activity android:name=".Seated_leg_curl" />
        <activity android:name=".Barbell_lunges" />
        <activity android:name=".Barbell_squats_assisted" />
        <activity android:name=".Leg_extension" />
        <activity android:name=".superman_display" />
        <activity android:name=".incline_bench_display" />
        <activity android:name=".hanging_leg_raises_display" />
        <activity android:name=".dumbbell_side_bends_display" />
        <activity android:name=".crunches_display" />
        <activity android:name=".sit_ups_display" />
        <activity android:name=".leg_raises_display" />
        <activity android:name=".flat_bench_lying_leg_raises_display" />
        <activity android:name=".seated_jackknife_display" />
        <activity android:name=".side_bridge_display" />
        <activity android:name=".bodyweight_hip_extension_display" />
        <activity android:name=".deadlift_display" />
        <activity android:name=".lat_pull_down_display" />
        <activity android:name=".seated_rows_display" />
        <activity android:name=".one_arm_dumbbell_rows_display" />
        <activity android:name=".dumbbell_shrugs_display" />
        <activity android:name=".reverse_chinups_display" />
        <activity android:name=".bodyweight_superman_display" />
        <activity android:name=".dumbbell_bent_overrow_display" />
        <activity android:name=".curls_display" />
        <activity android:name=".preacher_curl_display" />
        <activity android:name=".hammer_curl_display" />
        <activity android:name=".concentration_curl_display" />
        <activity android:name=".reverse_curl_display" />
        <activity android:name=".cable_biceps_curl_display" />
        <activity android:name=".low_pulley_curl_display" />
        <activity android:name=".dumbbell_biceps_curl_display" />
        <activity android:name=".dumbbell_biceps_curl_hammer_on_bench_display" />
        <activity android:name=".dumbbell_biceps_curl_underhand_grip_bench_display" />
        <activity android:name=".one_leg_raises_display" />
        <activity android:name=".seated_calf_raises_display" />
        <activity android:name=".standing_barbell_calf_raises_display" />
        <activity android:name=".standing_dumbbell_calf_raises_display" />
        <activity android:name=".incline_presses_display" />
        <activity android:name=".dumbbell_presses_display" />
        <activity android:name=".parallel_bar_dips_display" />
        <activity android:name=".cable_crossover_flys_display" />
        <activity android:name=".dumbbell_pullover_display" />
        <activity android:name=".pushups_display" />
        <activity android:name=".pec_deck_flys_display" />
        <activity android:name=".decline_pushup_display" />
        <activity android:name=".dumbbell_wrist_twist_display" />
        <activity android:name=".standing_wrist_curl_display" />
        <activity android:name=".squats_display" />
        <activity android:name=".leg_extensions_display" />
        <activity android:name=".dumbbell_lunges_display" />
        <activity android:name=".cable_back_kicks_display" />
        <activity android:name=".dumbbell_squats_display" />
        <activity android:name=".front_squats_display" />
        <activity android:name=".power_squats_display" />
        <activity android:name=".hack_squats_display" />
        <activity android:name=".seated_leg_curl_display" />
        <activity android:name=".seated_front_presses_display" />
        <activity android:name=".seated_dumbbell_presses_display" />
        <activity android:name=".low_pulley_lateral_raises_display" />
        <activity android:name=".dumbbell_rear_deltoid_raises_display" />
        <activity android:name=".lateral_raises_display" />
        <activity android:name=".front_raises_display" />
        <activity android:name=".low_pulley_bent_over_lateral_raises_display" />
        <activity android:name=".low_pulley_front_raises_displayy"></activity>
    </application>

</manifest>